# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Build output
/dist/
/build/
/out/

# Dependencies
/node_modules/

# Cache
.cache/
.parcel-cache/
.sass-cache/

# Env
.env
.env.*
